body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: lightgray;
}

p {
    height: 10rem;
    width: 10rem;
    border: 2px solid black;
}